.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 100%;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
  background: #212224;
  color: #fff;
  flex-direction: column;
}

.sideMenuIcon {
  height: 3%;
  color: #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  text-align: center;
  padding: 25px 15px;
}

.iconLink {
  color: #D8D8D8;
}

.mainContent {
  background-color: #EBEBEB;
}
