.subMenu {
  background-color: #FCFCFC;
  justify-content: space-between;
  color: #5F6164;
}

.pageTitle {
  margin-left: 35px;
}

.spacer {
  flex-grow: 1;
}

.subMenuItem {
  margin: 0px 10px;
}

.icon {
  margin-right: 10px;
}

.participantSubMenuName {
  margin-left: 50px;
}
