<div class="flex-container" fxLayout="row">
  <mat-toolbar class="subMenu">
    <span class="pageTitle">
      <p>Participants</p>
    </span>
    <span class="spacer"></span>
    <span class="subMenuItem">
      <mat-form-field appearance="legacy" floatLabel="never">
        <mat-label>Search here</mat-label>
        <input matInput>
        <fa-icon matSuffix [icon]="['fas', 'search']" size="md"></fa-icon>
      </mat-form-field>
    </span>
    <span class="subMenuItem">
      <button mat-button class="newParticipantBtn">New Participant</button>
    </span>
  </mat-toolbar>
</div>
